.shop-item {
  overflow: hidden;
  max-width: 18rem;
}
.card-img-top {
  height: 20rem;
  object-fit: cover;
  transition: scale 300ms;
}
.card-img-top:hover {
  scale: 1.01;
}

.cart-img {
  width: 6rem;
  max-height: 6rem;
  object-fit: cover;
}
